:root {
  --color-gray-light: #F5F5F5;
  --color-gray-medium: #E5E5E5;
  --color-gray-dark: #718093;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  display: flex;
  flex-direction: column;
}

body .container {
  height: 100%;
  width: 100%;
  padding: 1%;
}

body header {
  height: 100%;
  width: 100%;
}

#titlePage {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header #titlePage img {
  height: 80px;
  width: 80px;
  margin-bottom: 1%;
}

header #titlePage h1 {
  margin-left: 16px;
  margin-right: 50px;
}

header .action {
  padding: 1% 1%;
  height: 100%;
  width: 100%;
  border: 2px solid var(--color-gray-medium);
  background-color: var(--color-gray-light);
}

#button-top, #button-down {
  display: flex;
  justify-content: space-between;
}

#button-down {
  margin-top: 16px;
}

header .action button {
  height: 32px;
  width: 32px;
}

i {
  padding-top: 8px;
  height: 100%;
  width: 100%;
}

button i.active {
  background-color: var(--color-gray-dark);
}

body main {
  height: 100%;
  width: 100%;
  padding-top: 1%;
}

body main iframe {
  height: 350px;
  width: 100%;
  border: 2px solid var(--color-gray-medium);
  background-color: var(--color-gray-light);
}

body footer {
  text-align: center;
}

body footer img {
  height: 50px;
  width: 50px;
}

#toggleEdit {
  width: 56px;
}

#selectAll {
  width: 56px;
}